pytest==5.3.5
pytest-emoji-output==0.1.4
pytest-clarity==0.2.0a1
pytest-cov==2.8.1
pdbpp==0.10.2
pydocstyle==5.0.1
black==19.10b0
pylint==2.4.4
mypy==0.740
flake8==3.7.9
flake8-comprehensions==3.2.2
flake8-typing-imports==1.9.0
flake8-import-order==0.18.1
flake8-annotations-complexity==0.0.4
flake8-functions==0.0.4
flake8-variables-names==0.0.3
flake8-print==3.1.4
flake8-eradicate==0.3.0
flake8-builtins==1.5.2
flake8-pytest-style==1.0.0
coverage==4.5.4
coveralls==1.8.2